* {
    margin: 0px;
    padding: 0px;
    outline: none;
    border: 0px;
}

.App {
    text-align: center;
    height: 100vh;
    background-color: black;

    .container {
        background-color: rgb(36, 36, 36);
        color:white;
        width:fit-content;
        position: fixed;
        /* or absolute */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius:10px;
        padding:5%;

        .loginbutton,
        .logoutbutton {
            background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
            box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
            width: 200px;
            font-size: 16px;
            font-weight: 600;
            color: rgb(255, 255, 255);
            cursor: pointer;
            margin: 20px;
            height: 55px;
            text-align: center;
            border: none;
            background-size: 300% 100%;
            border-radius: 50px;
            -moz-transition: all .4s ease-in-out;
            -o-transition: all .4s ease-in-out;
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
        }

        .loginbutton:hover,
        .logoutbutton:hover {
            background-position: 100% 0;
            -moz-transition: all .4s ease-in-out;
            -o-transition: all .4s ease-in-out;
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
        }
    }

}